

body {
  margin: 0;
}

main {
 background-image: url(/Users/seth/Downloads/nastuh-abootalebi-284882-unsplash.jpg);
}

nav {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.container {
  display: flex;
}

#logo {
  
}
nav ul {
  list-style: none;justify-content: flex-end;
}

nav ul li {
  font-weight: bold;
  padding-left: 2.5%;
  padding-right: 2.5%;
}