

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;color: #333333; 
}

main {
	background-image: url(/Users/seth/projects/pirollrecreation/assets/landingimg.jpeg);
	background-repeat:no-repeat;
 	background-size:cover;
	background-position:center;
	height: 100vh;
	overflow: hidden;
	font-size: .75em;
}

nav {
	margin-left: 2.5%;
	margin-right: 2.5%;
  text-transform: uppercase;
  font-weight: 1200;
}

nav ul {
  list-style: none;
  justify-content: flex-end;
  
}

nav ul li {
  font-weight: bold;
  padding-left: 2.5%;
  padding-right: 2.5%;
  letter-spacing: 1.25px;

}

p {
	font-size: 1.2em;
	line-height: 1.5em;
	word-spacing: 1px;
	letter-spacing: 1.25px;
}

.container {
  display: flex;
}

.h3-letter-spacing{
	letter-spacing: 1.5px;
}


#logo {
  margin-right: 30%;
  font-size: 2.5em;
  font-weight: 600;
}
#landing { 
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 26vh;
  margin-left: auto;
  margin-right: 5%;
  width: 35vw;
 }



.landing-h1 {
  text-align: left;
  font-size: 2.8em;
  letter-spacing: 2px;
}
.landing-button {
  width: 25%;
  height: 5%;
  text-align: center;
  letter-spacing: 2px;
  font-size: .9em;
  background-color:#40E0D0;
	color: white;
}


#about {
	margin-top: 15%;
	height: 25vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	text-align: center;

}

#about-paragraph {
	width: 40vw;
	margin: auto;
	
}

#signature {
	font-family: 'Mrs Saint Delafield', cursive;
	
}